:root{
    --primary-font: 'Roboto';sans-serif;
    --secondary-font: 'Raleway';sans-serif;
    --accent-color:#2196F3;
    --primary-text-color:#212121;
    --secondary-text-color:#757575;
    --logo-color:#000000;
    --hero-title-color:#FFFFFF;
    --background-dar-color:#2f303a;
    --background-cloudy-color:#F5F5F5;
    --contacts-color:rgba(255, 255, 255, 0.6);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

 img {
    display: block;
}

button{
    font-family: inherit;
    cursor: pointer;
}

body{
    font-family: var(--primary-font);
}

.logo{
    font-family: var(--secondary-font);
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
         letter-spacing: 0.03em;
         color:var(--logo-color);

}
.accent{
    color:var(--accent-color);
}
    .menu.menu-link .current{
            color:var(--accent-color);
             }
.menu-link{
font-family: var(--primary-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
     color:var(--primary-text-color);
}
.menu-link:hover,
.menu-link:focus{
   color:var(--accent-color);
}

.contact-mail{
    font-family: var(--primary-font);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
      color: var(--secondary-text-color);
}
.contact-mail:hover,
.contact-mail:focus{
color:var(--accent-color);
}

.contact-phone-number{
    font-family: var(--primary-font);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color:var(--secondary-text-color);
}
.contact-phone-number:hover,
.contact-phone-number:focus{
  color: var(--accent-color);
}

/* hero */
.hero{
    background-color: var(--background-dar-color);
}
.hero-title{
    font-family: var(--primary-font);
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--hero-title-color);
}
/* Button */
.button{
    
background-color:var(--accent-color);
color: var(--hero-title-color);
}
/* section */
.benefit-list .text,
.team-list .text{
    coior:var(--secondary-text-color);
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.section-title{
font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
     color: var(--primary-text-color);
}
.team-list .title{
    font-family: var(--primary-font);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color:var(--primary-text-color);
}
.team-list .text{
    font-family: var(--primary-font);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--secondary-text-color);
}
/* Section team */

.imagene-fone{
    background-color: var(--hero-title-color);
}

.team {
    background-color: var(--background-cloudy-color);
}

/* Footer */
.page-footer{
    background-color: var(--background-dar-color);
}

.logo-footer {
    font-family: var(--secondary-font);
    sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--hero-title-color);
}

.adrees-footer{
    font-family: var(--primary-font);
    font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
         color: var(--hero-title-color);
}

.contact-footer{
    font-family: var(--primary-font);
    font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
     letter-spacing: 0.03em;
    color: var(--contacts-color);
}

.contact-footer:hover,
.contact-footer:focus{
    color:var(--accent-color);
    }

/* portfolio */

.pagemain{
    font-family: var(--primary-font);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
         color:var(--primary-text-color);
        }

.pagemain:hover,
.pagemain:focus{
    background-color:var(--accent-color);
color: var(--background-cloudy-color);
}

.pagetest{
    font-family: var(--primary-font);
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--primary-text-color);
    }

.pagelist{
    font-family: var(--primary-font);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.03em;
         color: var(--secondary-text-color);
}